.App {
  text-align: center;
}

.App-logo {
  height: 50;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tab {
  font-family: "Raleway";
  font-size: 20px;
}

.aladin {
  width: 100%;
  height:600px;
}

.navbar {
  background-color: gray;
  font-family: "Raleway";
  font-size: 20px;
}

.nav-link {

  font-family: "Brush Script MT";
  font-size: 30px;
}

.custom-btn {
  background-color: lightgray;
  color: darkblue;
  #border: #fff !important;
  width: 150px;
  font-family: "Brush Script MT";
  font-size: 20px
}

.dropdown {
  background-color: lightgray;
  color: red;
  font-family: "Arial";
  font-size: 15px;
  width: 250px
}

.dropdown-toggle {
  background-color: lightgray;
  color: darkblue;
  font-family: "Arial";
  font-size: 15px;
  width: 250px
}